<section class="hero">
    <div class="hero-inner">
        
        <!--<a routerLink="/home" class="btn blue">Hotels</a> &nbsp;&nbsp;
        <a routerLink="/security/login" class="btn blue">Login!</a>-->
        
    </div>
</section>

