.hero {
  /* Sizing */
  width: 100vw;
  height: 40vh;
  
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Text styles */
  text-align: center;
  color: white; /* ADD THIS LINE */
  
  /* Background styles */
  background-image: url('https://previews.123rf.com/images/deskcube/deskcube1604/deskcube160400035/55386124-casas-inmobiliaria-patr%C3%B3n-transparente-background-vector-ilustraci%C3%B3n-gr%C3%A1fica.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://previews.123rf.com/images/deskcube/deskcube1604/deskcube160400035/55386124-casas-inmobiliaria-patr%C3%B3n-transparente-background-vector-ilustraci%C3%B3n-gr%C3%A1fica.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  /* Text styles */
  font-size: 5em;
  
  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}
