<nav>
    <strong *ngIf="userLogged " class="nav-wrapper red">{{userName}}</strong>
    <div class="nav-wrapper blue-grey">
        <a routerLink="/home" class="brand-logo">Inmo</a>
        <a href="#" data-target="mobile-hotel" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            
            <li *ngIf="userLogged || !userLogged  "><a routerLink="/home">Inicio</a></li>
            <li *ngIf="userLogged " ><a routerLink="/inmo/list">Inmuebles</a></li>
            <li *ngIf="!userLogged" ><a routerLink="/security/login">Login</a></li>
            <li *ngIf="userLogged "><a routerLink="/security/logout">Logout</a></li>
            <li *ngIf="userLogged" ><a routerLink="/security/alist">Asesor</a></li>


        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-hotel">
    <li><a *ngIf="!userLogged" routerLink="/security/login">Login</a></li>
    <li><a *ngIf="userLogged" routerLink="/security/logout">Logout</a></li>
    <li><a *ngIf="userLogged" routerLink="/security/alist">Asesor</a></li>
    <li><a *ngIf="!userLogged || userLogged" routerLink="/inmo/list">Inmo</a></li>
</ul>