<div class="row">
    <form [formGroup]="frmValidator" (ngSubmit)="saveInmo()" class="col s12" class="login-form">
        <div class="row">
            <div class="input-field col s6">
                <input id="city" formControlName="city" [(ngModel)]="list.city" type="text" class="validate">
                <label for="city">City</label>
                <div class="warning-validation" *ngIf="fv.city.errors  && (fv.city.dirty || fv.city.touched)">
                    <strong *ngIf="fv.city.errors.required">Please, enter a city!</strong>
                </div>
            </div>
            <div class="input-field col s6">
                <input id="departament" formControlName="departament" [(ngModel)]="list.departament" type="text" class="validate">
                <label for="departament">departament</label>
                <div class="warning-validation"
                    *ngIf="fv.departament.errors && (fv.departament.dirty || fv.departament.touched)">
                    <strong *ngIf="fv.departament.errors.required">Please, enter a departament!</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="address" formControlName="address" [(ngModel)]="list.address" type="text" class="validate">
                <label for="address">Address</label>
                <div class="warning-validation" *ngIf="fv.address.errors  && (fv.address.dirty || fv.address.touched)">
                    <strong *ngIf="fv.address.errors.required">Please, enter a Address!</strong>
                </div>
            </div>
            <div class="input-field col s6">
                <input id="value" formControlName="value" [(ngModel)]="list.value" type="text" class="validate">
                <label for="value">Value</label>
                <div class="warning-validation" *ngIf="fv.value.errors  && (fv.value.dirty || fv.value.touched)">
                    <strong *ngIf="fv.value.errors.required">Please, enter a value!</strong>
                </div>
               
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="property" formControlName="property" [(ngModel)]="list.property" type="text" class="validate">
                <label for="property">property</label>
                <div class="warning-validation"
                    *ngIf="fv.property.errors && (fv.property.dirty || fv.property.touched)">
                    <strong *ngIf="fv.property.errors.required">Please, enter a property!</strong>
                </div>
            </div>
            <div class="input-field col s6">
                <input id="offer" formControlName="offer" [(ngModel)]="list.offer" type="text" class="validate">
                <label for="offer">offer</label>
                <div class="warning-validation" *ngIf="fv.offer.errors && (fv.offer.dirty || fv.offer.touched)">
                    <strong *ngIf="fv.offer.errors.required">Please, enter a offer!</strong>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <button
                    [disabled]="fv.city.errors || fv.departament.errors || fv.address.errors  || fv.value.errors || fv.property.errors || fv.offer.errors"
                    class="btn waves-effect waves-light" type="submit" name="action">Save
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>