<div class="class center-align s8">
  <app-navbar></app-navbar>
  <app-hero></app-hero>

  

<div class="center-align" >
  <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>

</div>