<div id="register-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
        <form [formGroup]="fgValidationRegister" (ngSubmit)="saveUser()" class="login-form">
            <div class="row">
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                    <input class="validate" formControlName="firstname" [(ngModel)]="listu.firstname" id="firstname" type="text">
                    <label for="firstname" data-error="wrong" data-success="right">First Name</label>
                    <div class="warning-validation"
                        *ngIf="fgr.firstname.errors && (fgr.firstname.dirty || fgr.firstname.touched)">
                        <strong *ngIf="fgr.firstname.errors.required">
                            First Name is required!<br />

                        </strong>
                        <strong *ngIf="fgr.firstname.errors.minlength">
                            First Name must be at least 4 characters!<br />

                        </strong>
                        <strong *ngIf="fgr.firstname.errors.maxlength">
                            First Name must be at less than 8 characters!

                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                    <input id="lastname" formControlName="lastname" [(ngModel)]="listu.lastname" id="lastname" type="text">
                    <label for="lastname">Last Name</label>
                    <div class="warning-validation"
                        *ngIf="fgr.lastname.errors && (fgr.lastname.dirty || fgr.lastname.touched)">
                        <strong *ngIf="fgr.lastname.errors.required">
                            Last Name is required!<br />

                        </strong>
                        <strong *ngIf="fgr.lastname.errors.minlength">
                            Last Name must be at least 4 characters!<br />

                        </strong>
                        <strong *ngIf="fgr.lastname.errors.maxlength">
                            Last Name must be at less than 8 characters!

                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mail_outline</i>
                    <input class="validate" formControlName="email" [(ngModel)]="listu.email" id="username" type="email">
                    <label for="email" data-error="wrong" data-success="right">Email</label>
                    <div class="warning-validation" *ngIf="fgr.email.errors && (fgr.email.dirty || fgr.email.touched)">
                        <strong *ngIf="fgr.email.errors.required">
                            Email is required!<br />

                        </strong>
                        <strong *ngIf="fgr.email.errors.email">
                            must be a email!

                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">phone_iphone</i>
                    <input id="phone" formControlName="phone" [(ngModel)]="listu.phone" id="phone" type="text">
                    <label for="phone">Phone</label>
                    <div class="warning-validation" *ngIf="fgr.phone.errors && (fgr.phone.dirty || fgr.phone.touched)">
                        <strong *ngIf="fgr.phone.errors.required">
                            Phone is required!<br />

                        </strong>
                        <strong *ngIf="fgr.phone.errors.maxlength">
                            the phone must be at least 10

                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock_outline</i>
                    <input id="password" formControlName="password" [(ngModel)]="listu.password" id="password" type="password">
                    <label for="password">Password</label>
                    <div class="warning-validation"
                        *ngIf="fgr.password.errors && (fgr.password.dirty || fgr.password.touched)">
                        <strong *ngIf="fgr.password.errors.required">
                            Password is required!<br />

                        </strong>
                        <strong *ngIf="fgr.password.errors.minlength">
                            the password must be at least 4 characters!<br />

                        </strong>
                        <strong *ngIf="fgr.password.errors.maxlength">
                            the password must be at less than 8 characters!

                        </strong>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <button
                        [disabled]="fgr.firstname.errors || fgr.lastname.errors || fgr.email.errors || fgr.password.errors || fgr.phone.errors"
                        class="btn waves-effect waves-light col s12 light-green" type="submit">Create Account

                    </button>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button routerLink="/security/login" class="btn waves-effect waves-light col s12 light-green"
                        type="submit">Log In

                    </button>
                </div>
            </div>

        </form>
    </div>
</div>