<br/>
<a routerLink="/security/asesor" class="waves-effect waves-light btn-large">New Asesor</a> <br/>
<table class="responsive-table">
    <thead>
        <tr>
            <!-- <th >
            id
        </th> -->
            <th>
                Cedula
            </th>
            <th>
                Nombre
            </th>
            <th>
                Correo
            </th>
            <th>
                Estado
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of asesorList">
            <!--  <td>
                {{i.id}}
            </td> -->
            <td>
                {{a.Cedula}}
            </td>
            <td>
                {{a.Nombre}}
            </td>
            <td>
                {{a.Correo}}
            </td>
            <td>
                {{a.Estado}}
            </td>
            <td>
                <button class="btn waves-effect waves-light  red" type="submit" name="action">Delete
                    <i class="material-icons right ">edit</i>
                </button>
            </td>


        </tr>

    </tbody>


</table>