<br/>
<a routerLink="/inmo/creator" class="waves-effect waves-light btn-large">New Inmueble</a> <br/>
<table class="responsive-table">
    <thead>
        <tr>
            <!-- <th >
            id
        </th> -->
            <th>
                city
            </th>
            <th>
                departament
            </th>
            <th>
                address
            </th>
            <th>
                value
            </th>
            <th>
                Property type
            </th>
            <th>
                offer type
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
            <th>
                Estado
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of inmoList">
            <!--  <td>
                {{i.id}}
            </td> -->
            <td>
                {{i.city}}
            </td>
            <td>
                {{i.departament}}
            </td>
            <td>
                {{i.address}}
            </td>
            <td>
                {{i.value}}
            </td>
            <td>
                {{i.property}}
            </td>
            <td>
                {{i.offer}}
            </td>
            <td>
                <a routerLink="/inmo/editor/{{i.id}}" class="waves-effect waves-light btn orange">Edit
                    <i class="material-icons right  ">edit</i>
                </a>
            </td>
            <td>
                <button class="btn waves-effect waves-light  red" type="submit" name="action">Delete
                    <i class="material-icons right ">edit</i>
                </button>
            </td>


        </tr>

    </tbody>


</table>