
    <div id="login-page" class="row">
        <div class="col s12 z-depth-6 card-panel">
          <form [formGroup]="fgValidation" (ngSubmit)="loginEvent()" class="login-form">
            <div class="row">
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">mail_outline</i>
                <input class="validate" formControlName="username" id="username" type="email">
                <label for="username" data-error="wrong" data-success="right">Username</label>
                <div class="warning-validation" *ngIf="fg.username.errors && (fg.username.dirty || fg.username.touched)">
                    <strong *ngIf="fg.username.errors.required">
                        Username is required!<br/>

                    </strong>
                    <strong *ngIf="fg.username.errors.minlength">
                        the user must be at least 4 characters!<br/>

                    </strong>
                    <strong *ngIf="fg.username.errors.email">
                        username must be a email!

                    </strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="password" formControlName="password" id="password" type="password">
                <label for="password">Password</label>
                <div class="warning-validation" *ngIf="fg.password.errors && (fg.password.dirty || fg.password.touched)">
                    <strong *ngIf="fg.password.errors.required">
                        Password is required!<br/>

                    </strong>
                    <strong *ngIf="fg.password.errors.minlength">
                        the password must be at least 4 characters!<br/>

                    </strong>
                    <strong *ngIf="fg.password.errors.maxlength">
                        the password must be at less than 8 characters!

                    </strong>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="input-field col s12">
                <button [disabled]="fg.username.errors || fg.password.errors" class="btn waves-effect waves-light col s12 light-green" type="submit" >Submit
                    
                  </button>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6 m6 l6">
                <p  class="margin medium-small"><a routerLink="/security/register" >Register Now!</a></p>
              </div>
              <div class="input-field col s6 m6 l6">
                  <p class="margin right-align medium-small"><a href="#">Forgot password?</a></p>
              </div>          
            </div>
    
          </form>
        </div>
      </div> 
    
    